body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}


/*-------------------*\
  CABEÇALHO
\*-------------------*/
.cabecalho {
  padding: 10px 0;
  text-align: center;
}


/*-------------------*\
  CHAMADA
\*-------------------*/
.chamada {
  background-color: #2283c9;
  padding: 120px 15px;
}

.chamada__titulo {
  margin: 0;
  color: #fff;
  font-size: 54px;
  text-align: center;
}


/*-------------------*\
  IMÓVEIS
\*-------------------*/
.imoveis {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.imoveis:after {
  content: "";
  display: block;
  clear: both;
}

.imoveis .imovel {
  float: left;
  width: calc(50% - 10px - 30px);
}

.imoveis .imovel:nth-child(even) {
  margin-left: 20px;
}


/*-------------------*\
  IMÓVEL
\*-------------------*/
.imovel {
  margin: 30px 0;
  padding: 15px;
  background-color: #e4e4e4;
  text-align: center;
}

.imovel--destaque {
  background-color: #6ff879;
}

.imovel__foto {
  width: 100%;
}

.imovel__titulo {
  font-size: 20px;
  color: #686868;
  margin-bottom: 25px;
}

.imovel__botao {
  display: inline-block;
  padding: 10px 15px;
  background-color: #127d00;
  color: #fff;
  text-decoration: none;
}

.imovel--ocupado .imovel__botao {
  background-color: #e30000;
}


/*-------------------*\
  DEPOIMENTOS
\*-------------------*/
.depoimentos {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.depoimentos__item {
  margin: 30px 0;
  padding: 20px;
  background-color: #fff06f;
}

.depoimentos__titulo {
  margin: 0;
  color: red;
  font-size: 36px;
}

.depoimentos__titulo--destacado {
  text-transform: uppercase;
}
